.poppins-regular {
  font-family: "Poppins", sans-serif;
 
}
*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
}
/* header create*/
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);

}
ul li a{
  text-decoration: none; 
  color: rgb(58, 58, 58);
  font-weight: 700;

}
.nav-item{
    display: flex;
    gap: 25px;
}
ul li{
    list-style-type: none;
    
}
.navber{
    display: flex;
    justify-content: space-between;
    max-width:1212px ;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}
section{
    max-width: 1220px;
}
/*banner*/
 
.bann-ti{
    font-size: 3.25rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}
.banner-descrip{
    font-weight: 600;
    color: rgb(58, 58, 58);
    margin: 20px 0;
}
.prebook{
   color: white; 
   background-color: rgb(224, 44, 109);
   font-weight: 700;
   border-radius: 41px;
   padding: 10px;
   border: none;
}
.banner-img{
    background-image: url(./images/Circle\ design.svg);
}
.banner{
    display: flex;
    justify-content: space-between;
    gap: 133px;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 33px;

}

/*companies*/
.compani{
    max-width: 1120px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(192, 204, 218, 0.10);
    border: 1px solid rgba(199, 195, 195, 0.688);
    padding: 43px;
    
    
}
.compani img{
    margin: 0 25px; align-items: center;
}
.commpanies{
    margin: 100px auto; align-items: center;

}
/*product section*/
.collec-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.product-card{
    height: 478px;
    width: 329px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 10px 1px 10px 1px;
    border-radius: 5px;
    gap: 10px;
    padding: 20px;
    
}
.pro-ti{
    font-size: 1.75rem;
    font-weight: 500;
    color: rgb(24, 25, 31); 
    
}
.pro-pri{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(24, 25, 31);
    margin: 20px 0;
    
}
.pro-des{
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 20px;
}
.pro-img{
    border-radius: 5px;
}
.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px; 
}
.products {
    max-width: 1140px;
    margin: 0 auto;
    background-color:#FBFBFB ;
    justify-content: center;
    margin-bottom: 100px;
    
    
    
}
.see{
    margin-top: 30px;
    max-width: 1140px;
    display: flex;
    justify-content: end;
    text-align: end;
    

}
/*feature section*/
.fea-ti{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(10, 8, 38);
}
.fea-des{
    font-weight: 500;
    color: rgb(10, 8, 38);
    margin: 20px 0;
}
.join{
    color: rgb(254, 254, 254);
    font-weight: 600;
    background-color: rgb(224, 44, 109);
    padding: 10px;
    border-radius: 7px;
    border: none;
}
.feature-img{
    border-radius: 7px;
}
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}
/*footer*/
.foot-ti{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    
}
.foot-des{
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 600;
    margin: 20px 0;
}
.footer{
    max-width: 100%;
    background-color: #0A0826;
    text-align: center;
    margin: 0 auto;
   
    
}
.footer-title{
     margin-top:70px ;
     padding-top: 70px;
}
ul li {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:576px) {
    .navber , .banner, .nav-item {
        flex-direction: column;
         text-align: center;
        
        padding: 20px;
    }
    .nav-item{
        font-size: 1.5rem;
    }
    .logo{
        font-size: 4rem;
        margin-bottom: 20px;
    }
    
    .banner-img{
        width: 100%;
   
    }
    .see{
        
        justify-content: center;
    }
    
    .compani img{
        grid-template-columns: 3, 1fr;
        
    }
    .product{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        place-items: center;

    }
    .feature{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .navber , .banner , .nav-item {
        flex-direction: column;
        text-align: center;
        
        padding: 20px;
    }
    .nav-item{
        font-size: 1.5rem;
    }
    .logo{
        font-size: 4rem;
        margin-bottom: 20px;
    }
    .banner-img{
        width: 100%;
    } 
    .product{
       display: grid;
        grid-template-columns: repeat(2 , 1fr);
         place-items: center;
    }
    .see{
        
        justify-content: center;
    }
    .feature{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
}
